In [11]:
b=90.7
a=int(b)
print(b)
print(a)

90.7
90

In [6]:
s='43'
i=int(s)
print(s)
print(i)

43
43

In [7]:
s='43'
i=float(s)
print(s)
print(i)

43
43.0

In [9]:
a=43
b=65.5
s=str(a)
d=str(b)
print(s)
print(d)

43
65.5

In [12]:
# Why we need type Converstion ?
#string -> int,float
# so in user interface every input will be taken in string after taking the input to perform some operations we convert the type string to int,float
#int -> string
# after performing the calculations and to give the out the UI supports only string so we convert it into string

In [15]:
BS=int(input("Enter your basic salary"))
if BS<20000:
    HRA=(BS*76)/100
    DA=(BS*78)/100
elif 20000<=BS<30000:
    HRA=(BS*79)/100
    DA=(BS*82)/ 100
else:
    HRA=(BS*85)/100 
    DA=(BS*89)/100    

GS = BS+DA+HRA
print("Your Gross Salary is:", GS)

Enter your basic salary 31000

Your Gross Salary is: 84940.0

In [24]:
sal=int(input("Enter your salary:"))
slot1=(200000*5)//100
slot2=(300000*10)//100
slot3=(500000*15)//100
slot4=(500000*20)//100

if(500000<sal<1000000):
    if(500000<sal<700000):
        TDS=((sal-500000)*5)//100
    else:
        TDS=slot1
    if(700000<sal<1000000):
        TDS=slot1+((sal-700000)*10)//100
    else:
        TDS=slot1+slot2


        
elif(1000000<sal<20000000):
    if(1000000<sal<1500000):
        TDS=slot1+slot2+((sal-1000000)*15)//100
    else:
        TDS=slot1+slot2+slot3
    if(1500000<sal<2000000):
        TDS=slot1+slot2+slot3+((sal-1500000)*20)//100
    else:
        TDS=slot1+slot2+slot3+slot4
else:
    TDS=slot1+slot2+slot3+slot4+((sal-2000000)*30)//100
print(TDS)

Enter your salary: 1000000

-85000